body {
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 10px;
  font-size: 18px;
  padding: 0;
  border: none;
}

header {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
}

main {
  background-color: rgb(221, 221, 221);
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

figure {
  text-align: center;
  background-color: white;
}

h2 {
  margin-top: 70px;
  text-align: center;
  font-family: sans-serif;
}

ul {
  margin: 0 325px;
}

li {
  line-height: 1.5;
}

i {
  text-align: center;
  margin: 0 325px;
  display: block;
}

footer {
  text-align: center;
  font-size: 20px;
}
