body {
  font-family: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",Geneva,Verdana,sans-serif;
  margin: 0;
  font-size: 18px;
  padding: 0;
}

header {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
}

main {
  background-color: rgba(236, 235, 235, 80%);
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

figure {
  text-align: center;
  background-color: white;
}

h2 {
  text-align: center;
}

ul {
  margin: 0 325px;
}

li {
  line-height: 1.5px;
}

i {
  margin: 0 325px;
  display: block;
}

footer {
  text-align: center;
  font-size: 20px;
}
